.hire{
    text-align: center;
}
.hire button{
    color: #fff;
    font-size: 18px;
    width: 150px;
    padding: 7px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(63, 63, 247);
}
.display{
    background: #000;
}